<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="text-9xl text-white tracking-widest font-extrabold  font-title-font mb-1">menù</h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-yellow-400">ALL YOU CAN EAT</h1>
      </div>
      <section class="text-white body-font ">
            <div class="flex flex-wrap -mx-2">
              <div class="px-2 w-1/2">
                <div class="flex flex-wrap w-full bg-orange-300 sm:py-24 py-16 sm:px-10 px-6 relative">
                  <div class="text-center relative z-10 w-full">
                    <h2 class="text-5xl text-white font-extrabold title-font mb-2">PRANZO</h2>
                    <p class="text-6xl text-white font-extrabold title-font mb-2">€ 21,90</p>
                  </div>
                </div>
              </div>
              <div class="px-2 w-1/2">
                <div class="flex flex-wrap w-full bg-orange-300  sm:py-24 py-16 sm:px-10 px-6 relative">
                  <div class="text-center relative z-10 w-full">
                    <h2 class="text-5xl text-white font-extrabold title-font mb-2">cena</h2>
                    <p class="text-6xl text-white font-extrabold title-font mb-2">€ 25,90</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container px-5 py-5 mx-auto">
                <div class="flex flex-col text-center w-full mb-20">
                  <h1 class="sm:text-3xl text-2xl font-medium title-font text-white">"bevande e dolci esclusi"</h1>
                </div>
          </div>
        </div>
      </section>
      <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-yellow-300">REGOLAMENTO</h1>
      <section class="text-gray-600 body-font">
        <div class="flex flex-wrap -mx-1">
          <div class="lg:w-2/3 mx-auto">
            <div class="flex flex-wrap w-full bg-yellow-300 py-10 px-10 relative mb-4">
              <div class="text-left relative z-10 w-full">
                <h2 class="text-2xl text-white font-medium title-font mb-2">.I bambini fino a 120 cm pagano la metà.</h2>
                <h2 class="text-2xl text-white font-medium title-font mb-2">.Se si sceglie la formula ALL YOU CAN EAT,</h2>
                <h2 class="text-2xl text-white font-medium title-font mb-2 m-3"> è necessario che tutto il tavolo aderisca.</h2>
                <h2 class="text-2xl text-white font-medium title-font mb-2">.Non si può sprecare il cibo: gli eventuali avanzi verranno</h2>
                <h2 class="text-2xl text-white font-medium title-font mb-2 m-3"> ad un prezzo maggiorato e sarà possibile portarli via.</h2>
              </div>
            </div>
          </div>
        </div>
        </section>
        <div class="container px-5 py-5 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-yellow-300 px-5 py-20">ATTENZIONE</h1>
              <h2 class="sm:text-3xl text-2xl font-medium text-center title-font text-white ">Il pesce destinato ad essere consumato crudo è sottoposto al trattamento</h2>
              <h2 class="sm:text-3xl text-2xl font-medium text-center title-font text-white">di bonifica (abbattimento a-18°).</h2>
            </div>
      </div>

      </section>
  </section>