<!-- <section class="text-gray-600 body-font overflow-hidden"> -->
  <div class="bg-white border rounded-lg overflow-hidden">
    <div class="relative bg-white pd-2/3">
    <!-- <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5  mx-auto flex flex-wrap"> -->
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/1.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/2.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/3.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/4.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  "src="/assets/Menu/5.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/6.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/7.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  "src="/assets/Menu/8.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/9.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/10.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/11.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/12.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/13.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/14.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/15.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/16.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/17.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/18.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/19.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/20.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/21.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/22.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/23.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/24.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/25.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/26.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto  " src="/assets/Menu/27.jpg">
          <img alt="ecommerce" class="h-full w-full px=1 py-1 lg:h-auto  object-cover object-center rounded mx-auto " src="/assets/Menu/28.jpg">
        </div>
      </div>
    <!-- </div>  -->
  </section>